.left-side{
  display: flex;
  flex-direction: column;
}
.select-image{
  max-width: 400px;
}
.select-image img{
  width: 100%;
}
.image{
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  gap: 10px;
}
.image img{
  width: 100%;
  border-radius: 4px;
}